body {
    background-color: navy;
    color: white;
    font-family: Arial, sans-serif;
}

#saludo{
    background-color: navy;
}
h1{
    color: red;
}
header {
    text-align: center;
    padding: 20px;
    background-color: darkblue;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
